---
interface Props {
    title: string | null;
    image: string | null;
    price: number | null;
    slug: string | null;
    is_new: boolean | null;
}

const { title, image, price, slug, is_new } = Astro.props;
const whatsappMessage = `Hola, estoy interesado en el modelo ${title}`;
const encodedMessage = encodeURIComponent(whatsappMessage);
---
<div class="bg-white dark:bg-stone-900 rounded-xl overflow-hidden shadow-md hover:shadow-2xl transition-shadow duration-300 flex flex-col group">
    
    

    <a href={`/motorhome/${slug}`}>
        <img 
            alt={title ?? 'Imagen de Motorhome'}
            class="w-full h-56 object-cover group-hover:scale-105 transition-transform duration-300" 
            src={image ?? '/images/placeholder.jpg'} 
        />
    </a>

    <div class="p-6 flex flex-col flex-grow">

                {is_new && (
            <div class="bg-primary/10 text-primary text-sm font-bold uppercase px-3 py-1.5 rounded-md inline-block mb-4 self-end">
                A Estrenar
            </div>
        )}
        
        <a href={`/motorhome/${slug}`} class="hover:text-primary transition-colors">
            <h3 class="text-xl font-bold text-stone-900 dark:text-white">{title}</h3>
        </a>



        <div class="mt-auto flex justify-between items-center pt-4">
            {price && <p class="text-2xl font-bold text-primary">${price.toLocaleString('es-AR')}</p>}
            
            <a href={`https://wa.me/5493544408482?text=${encodedMessage}`} 
            target="_blank" 
            rel="noopener noreferrer" 
            class="bg-green-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-green-600 transition-colors flex items-center justify-center gap-2 p-2 sm:px-4">
                Contactar por WhatsApp
            </a>
        </div>
    </div>
</div>